/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0 20px;
  min-width: 980px;
  max-width: 1400px;
}

/* Layout */

main {
  display: grid;
  grid-template-columns: 5fr 2fr 2fr;
  gap: 40px;
  padding: 20px 0;
}

/* header and footer */

header {
  border-bottom: 5px solid #aa6666;
}

footer {
  border-top: 5px solid #aa6666;
}

footer p {
  text-align: center;
}
body {
  font-family: Georgia, "Times New Roman", serif;
  line-height: 1.6;
  letter-spacing: 0.3px;
}

h1,
h2,
nav a {
  font-family: Rockwell, Georgia, serif;
  font-weight: 900;
  letter-spacing: 1px;
}

h1 {
  text-align: center;
  font-size: 3.5rem;
  font-weight: 900;
}

h2 {
  font-size: 2.3rem;
  font-weight: 900;
  margin-bottom: 0;
}
section h2 + p {
  text-indent: 2rem;
}

p,
li {
  font-size: 1rem;
  line-height: 1.6;
}

ul,
ol {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

a {
  color: #a44;
  text-decoration: underline;
}

a:visited {
  color: #7a2e2e;
}

a:hover,
a:focus {
  color: #8b0000;
  text-decoration: none;
  outline: none;
}

a[href^="http"]::after {
  content: " 🔗";
  font-size: 0.8rem;
}

nav ul {
  padding-left: 0;
  list-style-type: none;
}

nav li {
  margin-bottom: 1rem;
}

nav a {
  display: block;
  padding: 1rem;
  border: 2px solid #a44;
  text-align: center;
  text-transform: uppercase;
  font-family: "Roboto Slab", Georgia, serif;
  text-decoration: none;
}